<html>
  
<head>
    <title>Pre-Filled Form Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type = "text/javascript" src="/javascript.js"></script>
    <link rel="stylesheet"  href="/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    
</head>
  
<body>
    <h1>Survey</h1>
  
    <form action="/submit" method="POST">
        <pre>
            <div class = "container-fluid p-3 my-3 border">
                <div class = "container bg-light mx-auto rounded">
                    <h3>Court Circuit </h3>
                        <div class = "input-group">
                            <select class = "form-select" name="circuit" id="c-circuit">
                                <option selected >Choose</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                   
                    <h3>What type of problem-solving court is your site? </h3>
                        <div class = "input-group" >
                            <select class = "form-select" name="psctype" id="PSC-type">
                                <option selected>Choose</option>
                                <option value="Adult Drug Court">Adult Drug Court</option>
                                <option value="Mental Helath Court">Mental Health Court</option>
                                <option value="Veterans Court">Veterans Court</option>
                                <option value="Early Childhood Court">Early Childhood Court</option>
                                <option value="DUI Court">DUI Court</option>
                                <option value="Juvenile Drug Court">Juvenile Drug Court</option>
                                <option value="Family Dependency Drug Court">Family Dependency Drug Court</option>
                                <option value="None of these" >None of these</option>
                            </select>
                    </div>
                    <div >
                            <h3>If your problem-solving court type is not listed above please type it here:</h3> 
                            <div class = "input-group">
                                <input class = "form-control" id = "othertype" type = "text" name = "otherpsc"> 
                            </div>
                    </div>
                    <div>
                        <h3> What level of charge does your court accept? </h3>
                            <div class = "input-group">
                                <div class = "form-check">
                                    <input class ="form-check-input" type = "checkbox" name = "levelofcharge-misd" id = "chargemisd" type = "checkbox" value = "Misdemeanor">
                                    <label class="form-check-label" for="chargemisd"> Misdemeanor </label>
                                </div>
                            </div>
                            <div class = "input-group">
                                <div class = "form-check">
                                    <input class = "form-check-input" type = "checkbox" id = "chargefel" name = "levelofcharge-fel" value = "Felony">
                                    <label class="form-check-label" for="chargefel"> Felony </label>
                                </div>
                            </div>
                            <div class = "input-group">
                                <div class = "form-check">
                                    <input class = "form-check-input" type = "checkbox" id ="chargena" name = "levelofcharge-na" value = "NA" >
                                    <label class="form-check-label" for="chargena"> Not Applicable </label>
                                </div>
                            </div>
                    </div>
                                
                    <div>
                        <h3> How are cases processed? </h3>
                                <div class = "input-group">
                                    <div class = "form-check">
                                        <input class = "form-check-input" type = "checkbox" name = "caseProcesss-pretrial" id= "cppretrial" value = "Pre-trial">
                                        <label class = "form-check-label" for = "Pre-trial"> Pre-trial </label>
                                    </div>    
                                </div>
                                <div class = "input-group">
                                    <div class = "form-check">
                                        <input class = "form-check-input" type = "checkbox" name = "caseProcesss-preplea" id = "cppreplea" value = "Pre-plea" >
                                        <label class = "form-check-label" for = "Pre-plea"> Pre-plea </label>
                                    </div>
                                </div>
                                <div class= "input-group">
                                    <div class = "form-check">
                                        <input class = "form-check-input" type = "checkbox" name = "caseProcesss-postplea" id = "cppostplea" value = "Post-plea" > 
                                        <label class = "form-check-label" for = "Post-plea"> Post-plea </label>
                                    </div>
                                </div>
                                <div class = "input-group">
                                    <div class = "form-check">
                                         <input class = "form-check-input" type = "checkbox" name = "caseProcesss-preadj" id = "cppreadj" value = "Pre-adjudication" > 
                                        <label class = "form-check-label" for = "Pre-adjudication"> Pre-adjudication </label>
                                    </div>
                                </div>
                                <div class= "input-group">
                                    <div class = "form-check">
                                        <input class = "form-check-input" type = "checkbox" name = "caseProcesss-postadh" id = "cppostadj" value = "Post-adjudication" >
                                        <label class = "form-check-label" for = "Post-adjudication"> Post-adjudication  </label>
                                    </div>
                                </div>
                                <div class = "input-group">
                                    <div class = "form-check">
                                        <input class = "form-check-input" type = "checkbox" name = "caseProcesss-na" id = "cpna" value = "NA" >
                                        <label class = "form-check-label" for = "NA"> Not applicable </label>
                                    </div>
                                </div>
                    </div>
                    <div>
                        <h2>Implementation Date</label>
                            <div class = "input-group">
                                <input class = "form-control" type ="date" id = "impdate" name = "implementationdate">
                            </div>
                    </div>
                </div>
            </div>

            <div class = "container-fluid p-3 my-3 border"> 
                <div class = "containter bg-light">
                    <div>
                        <h3>Primary Contact Information</h3>
                        <label> Name: <input type = "text" id ="primname" name = "primaryname"></label>
                        <label> Street Address:<input type = "text" id = "primadd"name = "primaryaddress"></label>
                        <label> City:<input type = "text" id = "primcity" name = "primarycity"></label>
                        <label> Zip Code:<input type = "text" id = "primzip" name = "primaryzipcode" ></label>
                        <label> Phone Number:<input type = "tel" name = "primaryphone" id = "primaryphone" ></label>
                        <label>E-mail Address: <input type = "email" name = "primaryemail" id = "primaryemail"></label>
                
                        <h3> Presiding Judge/Magistrate Information </h3>
                        <label> Name:<input id = "jname"" type = "text" name = "judgename"></label>
                        <label> Street Address:<input id = "jad"type = "text" name = "judgeaddress"></label>
                        <label> City:<input id= "jcity" type = "text" name = "judgecity"></label>
                        <label> Zip Code:<input type = "text" id = "judgezip" name = "judgezipcode"></label>
                        <label> Phone Number:<input type = "tel" name = "judgephone" id = "judgephone"></label>
                        <label> E-mail Address:	<input type = "email" name = "judgeemail" id = "judgeemail"></label>

                    </div>
                </div>    
            </div>  

            <div class = "container-fluid p-3 my-3 border"> 
                <div class = "containter bg-light"> 
                    <div>
                        <label> Does this court accept transfers?</label>
                        <label for = "yes"> This court accepts transfers <input type = "radio" id ="transferyes" name = "transfercheck" value = "Accepts Transfers"></label>
                        <label for = "No"> This court does not accept transfers <input type = "radio" id= "transferno" name = "transfercheck" value = "Does not Accept Transfers"></label>
                    </div>
                </div>   
            </div>
            
            
            <div class = "container-fluid p-3 my-3 border"> 
                <div class = "containter bg-light"> 
                    <div>
                        <h3> Designee For Handling Transfers </h3>
                        <label name = "dnlabel"> Name:<input type = "text" id = "designeename" name = "designeename" size = "30" maxlength= "100" > </label>
                        <label> Street Address:<input type = "text" id ="designeeaddress" name = "designeeaddress" size = "30" maxlength= "100" ></label>
                        <label> City: <input type = "text" id = "designeecity" name = "designeecity" size = "30" maxlength= "100" ></label>
                        <label> Zip Code: <input type = "text" id = "designeezip" name = "designeezipcode" size = "20" maxlength= "5" ></label>
                        <label> Phone Number: <input type = "tel" name = "designeephone" id = "designeephone" size = "30" maxlength= "100" ></label>
                        <label> E-mail Address:<input type = "email" c name = "designeeemail" id = "designeeemail" size = "30" maxlength= "100" > </label>
                        <label > Designee Contact does not apply </label>
                        <input type = "checkbox" name = "designeena" id = "designeena" >
                
        
                        <h3> Clerk of Court Contacts For Transfers </h3>
                            <label name = "cocnamelabel"> Name:<input type = "text" id = "cocname" name = "cocname" size = "30" maxlength= "100" > </label>
                            <label> Street Address:<input type = "text" id ="cocaddress" name = "cocaddress" size = "30" maxlength= "100" ></label>
                            <label> City:<input type = "text" id = "coccity" name = "coccity" size = "30" maxlength= "100" > </label>
                            <label> Zip Code: <input type = "text" id = "coczip" name = "coczipcode" size = "20" maxlength= "5" ></label>
                            <label> Phone Number: <input type = "tel" name = "cocphone" id = "cocphone" size = "30" maxlength= "100" ></label>
                            <label> E-mail Address:<input type = "email" name = "cocemail" id = "cocemail" size = "30" maxlength= "100" > </label>
                            <label> Clerk of Court Contact does not apply </label>
                            <input type = "checkbox" name = "cocna" id = "cocna">
                        
                        <h3> Transfer Criteria</h3>
                        <textarea class = "md-textarea form-control" id = "transfercriteria" rows = "10" name = "transfercriteria" > </textarea>
     
            
                    </div>
                </div>
            </div>        
            <div class = "container-fluid p-3 my-3 border"> 
                <div class = "containter bg-light"> 
                    <div>
                        <label> Eligibility Criteria </label> 
                        <textarea class = "md-textarea form-control" id= "eligibilitycriteria" type = text name = "eligibilitycriteria" rows= "10"> </textarea>
                        <label> Program Requirements </label>
                        <textarea class = "md-textarea form-control" id ="programreqs" type = text name = "programreqs" rows = "10" > </textarea>
                        <label> Screening Procedure </label>
                        <textarea class = "md-textarea form-control" id = "screeningprocedure"type = text name = "screeningprocedure" rows = "10"> </textarea>
                        <label> Referral Procedure </label>
                        <textarea class = "md-textarea form-control" id = "referralprocedure" height="100px" type = text name = "referralprocedure" rows = "10"> </textarea>
                    </div>
                </div>
            </div>        
  
            <input type="submit" value="Submit Form"> 
        </pre>
    </form>
</body>
</html>