body {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  background-color:#0f2844;
  padding-left: 25px;
  padding-right: 25px;
 
}



.container-fluid{ 
  background-color:#e0dcdc;
}

td{
  word-break: break-all;
  

}

table{
 table-layout: fixed;
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}